:root {
    --primary-color: #212121;
    --background-color: #424242;
    --secondary-color: #2196f3;
    --error-color: #ef5350;
    --success-color: #66bb6a;
    --accent-color: #FFFFFF;
    --fadein-secondary-color: #64B5F6;
}

i {
    color: var(--secondary-color);
}

input,
textarea,
button,
select,
div,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat, "Roboto Light", sans-serif;
    box-sizing: border-box;
    color: var(--accent-color);
}

body {
    background-color: var(--background-color);
    margin-bottom: 50px;
}

h2 {
    width: auto;
    height: auto;
    margin: 10px 10px 10px 10px;
}

a {
    text-decoration: inherit;
    color: inherit;
}