footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
}

footer > div > i {
    color: var(--error-color);
    vertical-align: middle;
    display: inline;
}