header {
    background-color: var(--primary-color);
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    color: var(--accent-color);
}

.headerRow, .headerItem {
    order: 0;
}

.headerRow {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .headerRow {
        height: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .headerItem {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;
        height: 100%;
        width: 100%;
    }

    body > header:nth-child(1) > div:nth-child(1) > ul:nth-child(1) > ul:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    body > header:nth-child(1) > div:nth-child(1) > ul:nth-child(1) > li:nth-child(1) > ul:nth-child(1) {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    body > header:nth-child(1) > div:nth-child(1) > ul:nth-child(1) > li:nth-child(1) > ul:nth-child(1) > li:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .search-container {
        width: 100%;
        margin: 1vw;
    }

    .search-container input[type=text] {
        width: 80vw;
    }

    .search-container button {
        width: 12vw;
    }
}


.headerItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    height: 100%;
}

header > div:nth-child(2) > .headerRow > .headerItem:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.headerRow:nth-child(1) {
    justify-content: space-between;
}

.headerRow:nth-child(2) {
    justify-content: space-evenly;
}

#logoHeader {
    width: 100%;
    max-width: 20px;
    height: 100%;
    vertical-align: bottom;
}

#logoHeader {
    order: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--accent-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

header > div:nth-child(2) {
    border-top: 2px solid var(--secondary-color);
}

.search-container input[type=text] {
    padding: 9px;
    border: none;
    font-size: 17px;
}

.search-container button {
    float: right;
    padding: 6px;
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
}

.search-container > form:nth-child(1) > button:nth-child(2) > i:nth-child(1) {
    color: var(--accent-color);
}

#change {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--secondary-color);
}

header:nth-child(1) > div:nth-child(1) > ul:nth-child(1) > li:nth-child(1) > ul:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#websiteName {
    font-weight: bold;
    font-size: x-large;
    color: var(--secondary-color);
    letter-spacing: 0.2em;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--accent-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--secondary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#changeThemeDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#changeThemeDiv > div {
    margin: 0 10px 0 10px;
}

#changeThemeDiv div i {
    cursor: context-menu;
}

#changeThemeDiv > div:not(div:nth-child(2)):hover {
    cursor: pointer;
}