.cardBook {
    order: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 254px;
    height: 409px;
    color: var(--accent-color);
    background-position: left top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.cardBook:hover {
    box-shadow: 0 32px 32px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cardBook > img {
    z-index: 1;
    width: 100%;
    height: 75%;
}

.infosCardBook {
    order: 0;
    z-index: 3;
    width: 100%;
    height: 25%;
    padding: 2px 16px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
