.categoryCard {
    height: 300px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.categoryCard div {
    color: var(--accent-color);
}

.categoryCard > div {
    font-size: 2rem;
    text-align: center;
}

.categoryCard img {
    width: 100%;
    height: auto;
}

.categoryCard:hover {
    box-shadow: 0 32px 32px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}