.chip {
    display: block;
    text-align: center;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: var(--secondary-color);
}