.commentCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    align-content: stretch;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

.commentCard > div {
    order: 0;
}

.commentCard > div:nth-child(1) {
    order: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.commentCard > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 30px;
    align-items: center;
}

.commentCard > div:nth-child(1) > div {
    order: 0;
}

.commentCard > div:nth-child(1) > div:nth-child(1) {
    font-size: 1.5rem;
}

.commentCard > div:nth-child(1) > div:nth-child(2) {
    font-style: italic;
    margin-top: 10px;
}