#searchTitle {
    color: var(--accent-color);
    width: 100%;
    text-align: center;
}

#filter {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--accent-color);
    min-height: 100px;
}

.delimiterFilter {
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-bottom: 3px solid var(--secondary-color);
}

@media only screen and (max-width: 768px) {
    #filter {
        flex-direction: column;
    }

    #filter input, #filter select {
        width: 100%;
    }

    #filter label {
        text-align: center;
    }
}

#filter > div {
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#filter > div > div {
    order: 0;
}

#filter input[type=text] {
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-size: 1em;
}

#filter input[type=submit] {
    background-color: var(--secondary-color);
    border: none;
    color: var(--accent-color);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}