.longBookCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: var(--primary-color);
    color: var(--accent-color);
    margin: 10px 10px 0 10px;
    width: auto;
}

.longBookCard > div {
    order: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.longBookCard img {
    max-width: 70%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .longBookCard > div:nth-child(3) {
        display: none;
    }
}

.longBookCard > div:nth-child(3) {
    max-width: 30rem;
}

.longBookCard > div:nth-child(4) > span {
    font-size: 2rem;
    font-weight: bold;
}

.longBookCard > div:nth-child(4) > form:nth-child(1) > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.longBookCard textarea {
    min-width: 200px;
    min-height: 100px;
}

.longBookCard input[type=range] {
    color: var(--secondary-color);
}

.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s backwards;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}