#snackbar {
    animation: fadein 0.5s;
    min-width: 250px;
    text-align: center;
    margin-left: -125px;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

.success {
    background-color: var(--success-color);
    color: var(--accent-color);
}

.error {
    background-color: var(--error-color);
    color: var(--accent-color);
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}