#cart {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: space-around;
    max-width: 95%;
    margin: auto;
}

#cart > * {
    order: 0;
}

#cart > h4 {
    text-align: center;
}

#cart > h4 > span {
    font-style: italic;
}

#cart > span:last-of-type {
    border-top: 2px solid var(--accent-color);
    width: 100%;
}

#total {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#total > div {
    order: 0;
}

#total > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 200px;
}

#total > div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#total a {
    padding: 12px;
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
    color: black;
}