#noProducts {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--error-color);
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#categories > div {
    order: 0;
}

@media only screen and (max-width: 768px) {
    #categories {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#categories > * {
    margin: 1.5em 0;
}

#productsInCategory {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#productsInCategory > a {
    width: 92%;
}