#checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#checkout > div {
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkoutCategoryHeader {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkoutCategoryHeader:hover, .checkoutCategoryHeader > *:hover {
    cursor: pointer;
}

.checkoutCategoryHeader > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutCategoryHeader > div:first-of-type {
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: x-large;
    font-weight: bolder;
}

.checkoutCategoryHeader i {
    color: var(--accent-color);
}

.checkoutCategoryHeader > div:first-of-type > div:nth-child(1) {
    margin-right: 10px;
}

#checkout > div > div:nth-child(2) {
    margin: 20px;
}

#checkout > div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#checkout button {
    width: 300px;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: none;
    cursor: pointer;
    font-size: large;
}


#checkout > div:nth-child(3) > div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media only screen and (max-width: 768px) {
    #checkout > div:nth-child(3) > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #checkout label > input {
        float: right;
    }

    #checkout > div:nth-child(3) > div:nth-child(2) > div {
        border-bottom: 3px solid var(--accent-color);
    }

    #checkout > div:nth-child(2) > div:nth-child(2) > div > div > input {
        width: 95%;
    }
}

#checkout > div:nth-child(2) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#checkout > div:nth-child(2) > div:nth-child(2) input {
    width: 50%;
}

#checkout input[type=text] {
    padding: 9px;
    border: none;
    font-size: 17px;
    margin-bottom: 10px;
}

#checkout > div:nth-child(3) > div:last-of-type > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#checkout > div:nth-child(3) > div:last-of-type > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#checkout > div:nth-child(3) > div:last-of-type > div > label {
    padding: 20px;
    background: var(--secondary-color);
    font-size: x-large;
    color: black;
}
