#filtering {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#filtering > a {
    width: 90%;
}

.fab {
    width: 70px;
    height: 70px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
    text-align: center;
    line-height: 70px;
    position: fixed;
    right: 0.5vw;
    bottom: 6vh;
    cursor: pointer;
    z-index: 20;
    animation: 0.5s popin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fab > i {
    color: var(--accent-color);
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.fab:active {
    transform: scale(0.75);
}

.blurred {
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.hidden {
    display: none;
    width: 0;
    height: 0;
}

.shown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
}

@keyframes popin {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}