.containerHome {
    width: 100%;
}

.containerHome h2 {
    color: var(--accent-color);
}

.containerHome > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .containerHome > section {
        flex-direction: column;
        justify-content: space-between;
    }

    .containerHome > section > * {
        margin: 3vh;
    }

    .containerHome h2 {
        text-align: center;
    }
}