.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 360px;
    padding: 0;
}

.form {
    position: relative;
    z-index: 1;
    background: var(--primary-color);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    outline: 0;
    background: var(--background-color);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--accent-color);
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: var(--secondary-color);
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--accent-color);
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: var(--fadein-secondary-color);
}

.form .message {
    margin: 15px 0 0;
    font-size: 12px;
}

.form .message a {
    color: var(--secondary-color);
    text-decoration: none;
}

.form .register-form {
    display: none;
}