#containerProduct {
    color: var(--accent-color);
    padding: 20px;
}

#productDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#productDetails > div {
    order: 0;
}

#productDetails > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#productDetails > div:nth-child(2) > div {
    order: 0;
}

#productDetails > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#productDetails > div:nth-child(2) > div:nth-child(1) > div {
    order: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#productDetails > div:nth-child(2) > blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: var(--secondary-color);
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
    font-size: 1.5rem;
}

#productDetails > div:nth-child(2) > blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-color);
    width: 4.5rem;
    height: 3.5rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: var(--accent-color);
    text-align: center;
}

#productDetails > div:nth-child(2) > blockquote:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
}

#productDetails > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > span {
    font-size: 5em;
    font-weight: bold;
}

#productComments {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#productDetails button {
    float: right;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: black;
}

#productDetails > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > form:nth-child(1) > div:nth-child(1) > div:nth-child(3) > button:nth-child(1) > i {
    color: var(--success-color);
}

#productDetails > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > form:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1) > i {
    color: var(--error-color);
}

#productDetails > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > form:nth-child(1) > div:nth-child(1) > div:nth-child(3) > button:nth-child(1) {
    border-radius: 40%;
    box-shadow: 0 0 0 0 rgba(102, 187, 106, 0.7);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(102, 187, 106, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

#productDetails > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > form:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button,
#productDetails > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > form:nth-child(1) > div:nth-child(1) > div:nth-child(3) > button {
    background-color: var(--background-color);
}

#productDetails form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#productDetails form > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 0;
}