#containerProfiles {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.profileTab {
    order: 0;
    color: var(--accent-color);
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.profileTab div {
    width: 90%;
    padding: 10px 0 10px 0;
    order: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.profileTab div span, .profileTab div h3 {
    order: 0;
    width: 100%;
    text-align: left;
}

#containerCommands {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#containerCommands > .commandRow {
    width: 100%;
    order: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);;
    background: var(--primary-color);
    padding-left: 10px;
    margin-bottom: 30px;
}

#containerCommands > .commandRow > div:nth-child(2) {
    text-align: center;
    padding-left: 10px;
}

#containerCommands > .commandRow > div:nth-child(1) > img:nth-child(1) {
    max-width: 70%;
    height: auto;
}

div.profileTab:nth-child(3) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    #containerCommands > .commandRow {
        flex-direction: column;
    }

    #containerCommands > .commandRow > div:nth-child(1) {
        display: none;
        width: 0;
        height: 0;
    }

    #containerCommands > .commandRow h3 {
        text-align: center;
    }

    div.profileTab:nth-child(3) > div:nth-child(2) > div {
        flex-direction: column;
    }

    div.profileTab:nth-child(3) div.longBookCard > div:nth-child(1) {
        display: none;

    }
}

.profileTab form button {
    text-transform: uppercase;
    outline: 0;
    background: var(--secondary-color);
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--accent-color);
    font-size: 14px;
    cursor: pointer;
}